<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/SpeechCollection.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.casptoneproject.app.SpeechCollection</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>7</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: Hung Nguyen (NJ48B67T27)</string>
		<key>Team</key>
		<string>6BZ59393SB</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2019-06-05T15:33:43Z</date>
	<key>Name</key>
	<string>SpeechCollection</string>
	<key>SchemeName</key>
	<string>SpeechCollection</string>
</dict>
</plist>
