<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243375426321-mr7opkvmedb1n12g7k5s6ak06ofl7pnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243375426321-mr7opkvmedb1n12g7k5s6ak06ofl7pnp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>243375426321-hf0unok44dr6osu15p60enpa4ig2ab9r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ1u9886RmCCfxzBpqRkfvuKFbCRpH_tM</string>
	<key>GCM_SENDER_ID</key>
	<string>243375426321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.casptoneproject.app.SpeechCollection</string>
	<key>PROJECT_ID</key>
	<string>speechcollection-c23d7</string>
	<key>STORAGE_BUCKET</key>
	<string>speechcollection-c23d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243375426321:ios:54ce931c9e811f29</string>
	<key>DATABASE_URL</key>
	<string>https://speechcollection-c23d7.firebaseio.com</string>
</dict>
</plist>